[submodule "wslib"]
	path = toolkit/toolkit/wslib
	url = git@github.com:eidheim/Simple-WebSocket-Server.git
[submodule "json11"]
	path = toolkit/toolkit/json11
	url = git@github.com:dropbox/json11.git
[submodule "EDFlib"]
	path = toolkit/toolkit/storage/EDFlib
	url = git@github.com:joshblum/EDFlib.git
[submodule "toolkit/toolkit/storage/TileDB"]
	path = toolkit/toolkit/storage/TileDB
	url = git@github.com:stavrospapadopoulos/TileDB.git
[submodule "toolkit/toolkit/visgoth/HappyHTTP"]
	path = toolkit/toolkit/visgoth/HappyHTTP
	url = git@github.com:Zintinio/HappyHTTP.git
