{% extends "base.html" %}
{% block title %} About {% endblock %} {% block body%}
{% include "menu-nav.html" %}
<div class="container">
    <div class="section">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center blue-text lighten-1-text">EEG ToolKit</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Optimized Computations and Visualizations for EEG Data</h5>
                </div>
            </div>
      </div>
        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
                    <h5 class="center"></h5>
                    <p class="light">
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">aspect_ratio</i></h2>
                    <h5 class="center"></h5>
                    <p class="light">
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">dashboard</i></h2>
                    <h5 class="center"></h5>
                    <p class="light">
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
