<div id="specContainer-{{ spectrogram_id }}" class="specContainer map">
    <canvas id="spectrogram-{{ spectrogram_id }}" class="spectrogram"></canvas>
    <div class="specView specTitleView">{{ spectrogram_id }}</div>
    <div id="specDataView-{{ spectrogram_id }}" class="specView specDataView">NaN</div>
    <div id="progressBar-{{ spectrogram_id }}" class="progressBar progress hide">
      <div class="blue lighten-1 indeterminate"></div>
    </div>
    <canvas id="specFreqScale-{{ spectrogram_id }}" class="specFreqScale"></canvas>
    <canvas id="specTimeScale-{{ spectrogram_id }}" class="specTimeScale"></canvas>
</div>
