.side-nav a {
    line-height: inherit;
    padding: 5px 5px;
    height: 35px;
}

.side-nav .home-nav {
    height: inherit;
}

.github-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 15px;
}

.menu-nav {
    margin-top: 15px;
    margin-left: 15px;
}

div .input-field .menu-nav {
  margin-top: 0px;
  margin-left: 0px;
}

.code {
  background: #f3f3f3;
  border-radius: 3px;
  color: #212121;
  display: inline-block;
  font-weight: bold;
  min-width: .7em;
  padding: 2px 4px;
  text-align: center;
}

.modal-close-icon{
  background-image: url("/static/img/close.png");
  background-size: 12px;
  cursor: pointer;
  float: right;
  height: 12px;
  opacity: .2;
  width: 12px;
  -webkit-user-drag: none;
}
